<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791181857610-hkflcu3hlv42vbltvqv11q6u1l3r1jjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791181857610-hkflcu3hlv42vbltvqv11q6u1l3r1jjl</string>
	<key>API_KEY</key>
	<string>AIzaSyC9OPwjXY4n0JwvXLO8L3SORjwQ2xIAOyo</string>
	<key>GCM_SENDER_ID</key>
	<string>791181857610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyDriver</string>
	<key>PROJECT_ID</key>
	<string>daily-driver-project-1</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-driver-project-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791181857610:ios:f796f9bbb2c68191e1a7b3</string>
</dict>
</plist>